nav .brand-logo {
    font-size: 3.25rem;
}

a.brand-logo img {
    margin: 14px 7px 0 0;
    max-height: 85px;
    max-width: 40%;
}

nav {
    background-color: grey !important;
}

nav .nav-background {
    opacity: .9;
}

.text-behave {
    font-size: 2.25rem;
    word-wrap: break-word !important;
    font-weight: normal;
}

nav .nav-background .pattern {
    -webkit-transform: none;
    transform: none;
    background-repeat: none;
    background-size: cover;
}

/* .nav-background .pattern {
    -webkit-filter: none !important;
    filter: none !important;
    transition: opacity .7s;
} */

nav .nav-background img, nav .nav-background .pattern {
    -webkit-filter: none !important;
    filter: none !important;
    transition: opacity .7s;
}

.carousel .indicators {
    bottom: 10px;
}

.footer-text {
    margin:0;
}



@media only screen and (max-width: 1300px) {
    .text-behave {
        font-size: 2rem;
    }

    #portfolio {
        margin-top:30px;
    }
}

@media only screen and (max-width: 1150px) {
    .text-behave {
        font-size: 1.65rem;
    }
}

@media only screen and (max-width: 650px) {
    .text-behave {
        position: relative;
        top: 20px;
    }
}

@media only screen and (max-width: 550px) {
    #portfolio {
        margin-top:50px;
    }
}


@media only screen and (max-width: 492px) {
    .text-behave {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .text-behave {
        font-size: 1.35rem;
    }
}

@media only screen and (max-width: 400px) {
    .text-behave {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 375px) {
    .text-behave {
        font-size: 1.15rem;
    }

    #portfolio {
        margin-top:70px;
    }
}

@media only screen and (max-width: 350px) {
    .text-behave {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 601px) {
    nav.nav-extended .nav-wrapper.sub-page {
        min-height: 300px;
    }
}









